# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/

# Keep product media images in Git, ignore other local media uploads if any
media/*
!media/products/
